<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Architect-Blog</title>
</head>
<body>
    <header>
        <div>
          <h2><a href="/">ArchiBlog</a></h2>
        </div>
        <div>
          <ul>
            <li> <a href="/blogs">Blogs</a></li>
            <li><a href="/create-blog">Create Blog</a> </li>
          </ul>
        </div>
      </header>
 <main id="index-main">
    <section>
        <div>
            <h3>Innovate Design in Mali</h3>
            <p>Different Projects made by <span>Zenit </span>thus far !</p>
            <address><a href="mailto:ouramtoure@gmail.com">Oumar Toure</a></address>
            
        </div>
    </section>
    <section id="second-section">
       
    </section>
    
 </main>
</body>
</html>